.work-orders-column {
  display: flex;
  flex-direction: column;

  & span {
    font-size: 14px;
    padding: 0 3px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.overlaping-block {
  // used by GridBlocks
  position: absolute;
  width: 200px;
}
